:root {
    --col1: #1afe49;
    --col2: #083e12;
    --col3: #321450;
    --col4: rgb(128, 74, 216);
    --col5: rgb(250, 255, 251);
}


body {
    margin: 0;
    
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: lime;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-wrapper {
    background: black;
    padding: 3em;
    width: 70%;
    height: 60%;
}

.main-content {
    width: 100%;
    height: 100%;
    background: darkgreen;
    display: flex;
    flex-direction: column;
    
}

.top-title-wrapper {
    padding: 0;
    position: relative;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-title-wrapper h1 {
    position: absolute;
    top: 0;
    font-family: "Stalinist One";
    margin: 0;
    font-size: 7em;
    color: var(--col1);
    letter-spacing: 0em;
    padding: 0;
}

.h1-under {
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    width: 100%;
    position: absolute;
    font-family: "Science Gothic";
    margin: 0;
    padding: 0;
    bottom: 0;
    color: var(--col4);
}

.bottom-content {
    background: blue;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.bc-left {
    flex: 1;
    background: yellow;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.first-img {
    background-size: cover;
    width: 50%;
    height: 100%;
    background-image: url('./Images/mantis-pic2.png');
}

.bc-top-text-wrapper {
    position: relative;
    width: 100%;
    height: 30%;
    background: blue;
}

.bc-bottom-top-area {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background: orange;
    height: 70%;
    width: 100%;
}

.top-txt {
    position: absolute;
    top: 0;
    background: white;
    line-height: 1em;
    font-size: 3em;
    font-family: "Stalinist One";
    height: 80%;
}

.top-txt p {
    margin: 0;
    padding: 0;
}

.top-txt p:nth-child(2){
    -webkit-text-stroke: 2px var(--col1);
}

.poly-shape1 {
    position: absolute;
    bottom: -2em;
    left: 0;
    
    clip-path: polygon(
        0 25%, 5% 0, 37% 0, 43% 8%,
        100% 7%, 100% 28%,
        83% 28%, 78% 38%, 65% 38%,
        60% 30%, 38% 31%, 33% 24%
    );
    background: pink;
    width: 80%;
    height: 50%;
    
    
    
}

.bc-right{
    flex: 1;
    background: purple;
    padding: 1em;
}


.mantis-pic-area {
    position: relative;
    clip-path: polygon(100% 0, 100% 78%, 91% 90%, 51% 91%, 36% 100%, 0 100%, 0 15%, 12% 0);
    width: 50%;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
}

.mantis-pic-area::before {
    content: "";
    position: absolute;
    inset: 0;
    background: white;
    clip-path: polygon(100% 0, 100% 78%, 91% 90%, 51% 91%, 36% 100%, 0 100%, 0 15%, 12% 0);

    z-index: 2;
}

.mantis-pic-area::after {
    content: "";
    position: absolute;
    inset: 2px;

   background-image: url('/Images/mantis-pic1.png');
    
    clip-path: polygon(100% 0, 100% 78%, 91% 90%, 51% 91%, 36% 100%, 0 100%, 0 15%, 12% 0);

    z-index: 3;
}

.bc-bottom-footer {
    position: absolute;
    bottom: 0;
    clip-path: polygon(4% 34%, 92% 33%, 100% 48%, 100% 100%, 0 100%, 0% 60%, 4% 46%);
    background: var(--col1);
    width: 100%;
    height: 30%;

}

